<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="text/html; charset=utf-8">
	<title>500</title>
	<style type="text/css">
		@font-face {
		  font-family: 'MyNewFont';   /*字体名称*/
		  src: url('../font/DS-DIGI.TTF');       /*字体源文件*/
		}
		body{
			text-align: center;
		}
		a{
			color: red;
			text-decoration:none;
		}
	</style>
	<script type="text/javascript">     
		function countDown(secs){        
		var jumpTo = document.getElementById('jumpTo');
		jumpTo.innerHTML=secs;  
		if(--secs>0){     
		     setTimeout("countDown("+secs+")",1000);     
		     }     
		else{       
		     history.back(-1);   
		     }     
		}     
	</script> 
</head>
<body>
	<div style="display: inline-block;margin-top: 10%;">
		<div style="float: left;width: 410px;text-align: left;">
			<span style="font-family:'MyNewFont';font-size: 138px;color: #999999;float: left;padding-top: 10px;">500</span>
			<span style="font-size: 24px;color: #999999;float: left;width: 100%;padding-top: 10px;">内部服务器错误</span>
			<span style="font-size: 24px;color: #999999;float: left;width: 100%;">您查找的资源存在问题，无法显示</span>
			<span id="jumpTo" style="font-family:'MyNewFont';font-size: 16px;color: red;float: left;line-height: 24px;padding-top: 10px;">5</span>
			<span style="font-size: 16px;color: #999999;float: left;padding-top: 10px;">秒后自动跳转到上一页面</span>
			<script type="text/javascript">countDown(5);</script>
			<span style="font-size: 16px;float: left;line-height: 24px;margin-left: 20px;padding-top: 10px;"> <a href="javascript:history.back(-1)"> 手动返回 >> </a></span>
		</div>
		<div style="float: left;">
			<img src="../image/500.png" alt="">
		</div>
	</div>
</body>
</html>